.DS_Store
BDDSharp/bin/
BDDSharp/obj/
BDDSharp.Tests/bin/
BDDSharp.Tests/obj/
*.userprefs
./Temp/
TestResult.xml
bin/
output.mlpd
packages/
result.txt
testrunner/
/.vs/BDDSharp/v15/.suo
/.vs/BDDSharp/v15/Server/sqlite3/storage.ide-wal
/.vs/BDDSharp/v15/Server/sqlite3/storage.ide-shm
/.vs/BDDSharp/v15/Server/sqlite3/storage.ide
/.vs/BDDSharp/v15/Server/sqlite3/db.lock
